# DATABASE_URL=postgresql://username:password@host:port/dbname
# JWT_SECRET=your-super-secret-jwt-key-minimum-32-chars-long
# PORT=5000
# NODE_ENV=production



MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/task-manager
JWT_SECRET=your_super_secret_key
PORT=5000